<section class="need-assistance grid-container grid-2-col">
    <div>
        <h4 class="h3 text-white uppercase">Need Assistance?</h4>
    </div>
    <div class="flex-container gap">
        <p class="text-white body-copy">Choosing a ring is a big deal. Email Kristin directly with any questions you may have.</p>
        <p><a class="btn btn-white" href="mailto:kristin@gmail.com">Contact Kristin</a></p>
    </div>
</section>