<div class="accordion-panel animate-item">
    <h2 class="accordion-toggle text-brown large-nav-bar"><span class="text">{{ title }}</span> <span class="icon"></span></h3>
    <div class="accordion-text text-brown">
      <div class="inner desc body-copy">
        {{ body }}
        {%- if footnote -%}
          <div class="footnote"><p>{{ footnote }}</p></div>
        {%- endif -%}
      </div>
    </div>
  </div>