.btn {
    background-color: transparent;
    border-radius: 3rem;
    border: 1px solid $brown;
    color: $brown;
    font-family: "Poppins", sans-serif;
    line-height: 35px;
    font-size: 1.4rem;
    padding: .5rem 3rem;
    text-transform: capitalize;
    &.btn-blue {
        background-color: $lightBlue;
        border: 0;
        color: lighten(white, 10%);
        line-height: 20px;
        height: 2rem;
        margin: 1rem 0;
        transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
        font-weight: 400;
        letter-spacing: .25px;
        &:hover {
            background-color: darken($lightBlue, 10%);
        }
    }
    &.btn-white {
        border: 1px solid $offWhite;
        color: lighten(white, 10%);
        font-weight: 400;
        letter-spacing: .25px;
        min-width: 200px;
        &:hover {
            background-color: #f7f0e84a;
        }
    }
}

