$background: rgb(232, 227, 216);
$red: rgb(189, 44, 44);

$offWhite: #FBF8F4;
$cream: #F7F0E8;
$brown: #BC7635;
$darkBlue: #30647E;
$lightBlue: #4D7E92;
$purple: #B291B5;
$brownHalfOpactiy: #bc763559;

  